* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body,
html {
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 1900px;
    display: block;
    margin: 0 auto !important;
}

.container-fluid {
    width: 100%;
    max-width: 1900px;
}

.navbar.navbar-expand-lg.navbar-light {
    position: absolute;
    width: 100%;
    max-width: 1900px;
    font-family: 'Montserrat';
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar>.container-fluid {
    display: block;
    margin: 0 auto;
    padding: 0px;
    width: 90%;
}

.navbar-brand h6 {
    display: flex;
    flex-direction: column;
    color: #fff !important;
}

.navbar-brand img {
    display: block;
    margin: 0 auto;
}

.navbar.navbar-expand-lg.navbar-light .navbar-collapse {
    justify-content: end;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff !important;
}

.view {
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-transform: uppercase;
    background-color: #CC9933;
    color: #ffffff;
    border: none;
    margin-left: 30px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
}

.home-page>.container-fluid {
    width: 100%;
    height: 400px;
    background-image: url(../img/aboutmain.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-page>.container-fluid h1 {
    width: 50%;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}

/* navbar and home page media */

@media only screen and (max-width:480px) {
    .navbar.navbar-expand-lg.navbar-light {
        position: static;
        background-color: #fff;
    }

    .navbar-brand h6 {
        display: none;
    }

    .nav-item {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .nav-item .active {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #000 !important;
    }

    .view {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    form {
        justify-content: center;
    }

    .home-page>.container-fluid {
        width: 100%;
        height: 250px;
        background-image: url(../img/aboutmain.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home-page>.container-fluid h1 {
        width: 100%;
        height: 250px;
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    .navbar.navbar-expand-lg.navbar-light {
        position: static;
        background-color: #fff;
    }

    .navbar-brand h6 {
        display: none;
    }

    .nav-item {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .nav-item .active {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #000 !important;
    }

    .view {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    form {
        justify-content: center;
    }

    .home-page>.container-fluid {
        width: 100%;
        height: 300px;
        background-image: url(../img/aboutmain.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home-page>.container-fluid h1 {
        width: 100%;
        height: 300px;
        text-align: center;
    }
}

/* text-img css*/

.container-fluid.text-img {
    width: 100%;
    height: 550px;
    background-color: #F7E9E4;
    margin-top: 50px;
    text-transform: capitalize;
}

.row.text-img {
    width: 90%;
    height: 550px;
    margin: 0 auto;
    align-items: center;
}

.row.text-img .col-md-6 img {
    width: 100%;
    height: 550px;
}

.row.text-img .col-md-6 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* text-img section media */

@media only screen and (max-width:480px) {
    .container-fluid.text-img {
        width: 100%;
        height: auto;
        background-color: #F7E9E4;
        margin-top: 50px;
        text-transform: capitalize;
        text-align: center;
    }

    .row.text-img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        align-items: center;
        padding: 15px;
    }

    .row.text-img .col-md-6 img {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .container-fluid.text-img {
        width: 100%;
        height: auto;
        background-color: #F7E9E4;
        margin-top: 50px;
        text-transform: capitalize;
        text-align: center;
    }

    .row.text-img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        align-items: center;
        padding: 15px;
    }

    .row.text-img .col-md-6 img {
        margin-top: 10px;
        height: 450px;
    }
}

/* variety css*/

.container-fluid.variety {
    height: 400px;
    text-transform: capitalize;
    text-align: center;
    display: grid;
    align-items: center;
}

.row.variety {
    width: 90%;
    height: 350px;
    margin: 0 auto;
    column-gap: 15px;
}

.col-md-3 {
    width: 23.7% !important;
    box-shadow: 1px 2px 5px 2px gray;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* variety media  */

@media only screen and (max-width:480px) {
    .container-fluid.variety {
        height: auto;
        margin-top: 20px;
    }

    .row.variety {
        width: 100%;
        height: auto;
        display: grid !important;
        grid-template-columns: auto !important;
    }

    .col-md-3 {
        width: 100% !important;
        height: 300px;
        margin-top: 20px !important;
    }
}

@media only screen and (max-width:768px) {
    .container-fluid.variety {
        height: auto;
        margin-top: 20px;
    }

    .row.variety {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto;
    }

    .col-md-3 {
        width: 100% !important;
        height: auto;
        margin-top: 20px !important;
    }
}

/* our-team css */

.container-fluid.our-team {
    height: 760px;
    margin-top: 20px;
    background-color: #FFEECB;
    text-align: center;
}

.our-team-text {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.our-team-text h2 {
    text-transform: uppercase;
}

.our-team-text p {
    text-transform: capitalize;
}

.row.our-team {
    width: 70%;
    height: 460px;
    column-gap: 40px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.row.our-team>.col-md-6 {
    width: 45% !important;
}

.row.our-team>.col-md-6 img {
    width: 100%;
    height: 450px;
    padding-top: 20px;
}

.row.our-team>.col-md-6 h2 {
    padding-top: 5px;
}

.row.our-team>.col-md-6>.f-r-icone img {
    width: 40px;
    height: 50px;
    padding: 0px;
    padding-bottom: 10px;
}

/* our team media */

@media only screen and (max-width:480px) {
    .container-fluid.our-team {
        height: auto;
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 20px;
    }

    .our-team-text {
        width: 90%;
    }

    .row.our-team {
        width: 98%;
        height: auto;
        column-gap: 0px;
        margin: 0 auto;
        display: block;
    }

    .row.our-team>.col-md-6 {
        width: 100% !important;
        margin-top: 10px;
    }

    .row.our-team>.col-md-6 img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:768px) {
    .container-fluid.our-team {
        height: auto;
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 20px;
    }

    .our-team-text {
        width: 90%;
    }

    .row.our-team {
        width: 98%;
        height: auto;
        column-gap: 0px;
        margin: 0 auto;
        display: block;
    }

    .row.our-team>.col-md-6 {
        width: 100% !important;
        margin-top: 10px;
    }

    .row.our-team>.col-md-6 img {
        width: 100%;
        height: auto;
    }
}

/* footer css */

.footer {
    width: 100%;
    height: 400px;
    color: #ffffff;
    background-color: #16191E;
    font-weight: 200;
}

.footer-text {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.whysos {
    width: 25%;
    margin-top: 22px;
    padding: 5px;
}

.qlinks {
    width: 12%;
    margin-top: 100px;
}

.qlinksa {
    color: #ffffff;
    text-decoration: none;
}

.opening {
    width: 18%;
    margin-top: 100px;
}

.getit {
    width: 20%;
    margin-top: 100px;
    display: grid;
}

.loc {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.contect {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.email-2 {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

/* footer media */

@media (min-width:320px) and (max-width:480px) {
    .footer {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        background-color: #16191E;
        color: #ffffff;
    }

    .footer-text {
        display: block;
        margin-left: 20px;
        text-align: center;
    }

    .whysos {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .qlinks {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .qlinksa {
        color: #ffffff;
        text-decoration: none;
    }

    .opening {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .getit {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .loc {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .contect {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .email-2 {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .footer {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .footer-text {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .whysos {
        width: 100%;
        margin-top: 30px;
        padding: 5px;
        margin-left: 30px;
    }

    .qlinks {
        width: 100%;
        margin-top: 90px;
    }

    .qlinksa {
        color: #ffffff;
        text-decoration: none;
    }

    .opening {
        width: 80%;
        margin-top: 30px;
        margin-left: 30px;
    }

    .getit {
        width: 100%;
        margin-top: 80px;
        margin-right: 100px;
    }

    .loc {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .contect {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .email-2 {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .footer {
        width: 100%;
        height: 450px;
    }
}

/* copyright css */

.copyr {
    width: 100%;
    height: 80px;
    background-color: #CC9933;
    color: #000000;
    font-weight: 100;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    font-family: 'Montserrat';
}

.copy-text {
    margin-right: 240px;
}

.socialmicon {
    margin-left: 240px;
}

/* copyright media */

@media (min-width:320px) and (max-width:480px) {
    .copyr {
        width: 100%;
        height: 80px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 8px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .copyr {
        width: 100%;
        height: 80px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 15px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .copyr {
        width: 100%;
        height: 90px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 15px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}