* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 500 !important;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1900px;
    width: 100%;
    padding: 0 ;
}

body {
    position: relative;
}

/* home section css */
.navbar.navbar-expand-lg.navbar-light {
    position: absolute;
    width: 100%;
    max-width: 1900px;
    font-family: 'Montserrat';
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar>.container-fluid {
    display: block;
    margin: 0 auto;
    padding: 0px;
    width: 90%;
}

.navbar-brand h6 {
    display: flex;
    flex-direction: column;
    color: #fff !important;
}

.navbar-brand img {
    display: block;
    margin: 0 auto;
}

.navbar.navbar-expand-lg.navbar-light .navbar-collapse {
    justify-content: end;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff !important;
    text-transform: capitalize;
    font-size: 15px;
}

.view {
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-transform: uppercase;
    background-color: #CC9933;
    color: #ffffff;
    border: none;
    margin-left: 30px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
}

.container-fluid{
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 20px;
}

.container-fluid>.contect-home-page{
    width: 100%;
    height: 460px;
    background-image: url(../img/contect.png);
}

.home-page-text{
    width: 50%;
    height: 460px;
    text-transform: uppercase;
}

.home-page-text h1{
    font-size: 60px;
}

.container-fluid>.get-in-touch{
    width: 75%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.get-in-touch p{
    font-style: normal;
    font-size:20px ;
    font-weight: 200 !important;
    text-transform: capitalize;
}

.form{
    width: 75%;
    height: 650px;
    border:4px solid #C93;
    margin: 0 auto;
}

.form>input{
    width: 80%;
    height: 60px;
    text-transform: uppercase;
    margin-top: 20px;
    border:none;
    background-color:#F5F5F5;
    padding-left: 10px;
}

.form>.message{
    height: 200px;
}

.sub{
    margin-top: 80px;
}

.sub>.submit{
    width: 50%;
    height: 50px;
    background-color: #C93;
    color: #fff;
    border: none;
    font-size: 22px;
    text-transform: capitalize;
}

.container-fluid>.map{
    width: 100%;
    height: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
}

iframe{
    width: 100%;
    height: 560px;
}

/* media */

@media only screen and (max-width:480px){
    .navbar.navbar-expand-lg.navbar-light {
        position: static;
        background-color: #fff;
    }

    .navbar-brand h6 {
        display: none;
    }

    .nav-item {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .nav-item .active {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #000 !important;
    }

    .view {
        display: block !important;
        margin: 0 auto;
    }

    .container-fluid>.contect-home-page{
        height: 300px;
    }

    .home-page-text{
        width: 100%;
        height: 300px;
        text-transform: uppercase;
    }

    .container-fluid>.get-in-touch{
        width: 90%;
    }

    .form{
        width: 95%;
        height: 650px;
        border:4px solid #C93;
        margin: 0 auto;
    }

    .form>input{
        width: 90%;
        height: 60px;
    }

    .sub>.submit{
        width: 70%;
        height: 50px;
    }
    
    .container-fluid>.map{
        width: 90%;
        height: 600px;
        padding-top: 40px;
        padding-bottom: 20px;
        margin: 0 auto;
    }
    
    iframe{
        width: 100%;
        height: 560px;
    }
}

@media only screen and (max-width:768px){
    .navbar.navbar-expand-lg.navbar-light {
        position: static;
        background-color: #fff;
    }

    .navbar-brand h6 {
        display: none;
    }

    .nav-item {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .nav-item .active {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #000 !important;
    }

    .view {
        display: block !important;
        margin: 0 auto;
    }

    .container-fluid>.contect-home-page{
        height: 300px;
    }

    .home-page-text{
        width: 100%;
        height: 300px;
        text-transform: uppercase;
    }

    .container-fluid>.get-in-touch{
        width: 90%;
    }

    .form{
        width: 95%;
        height: 650px;
        border:4px solid #C93;
        margin: 0 auto;
    }

    .form>input{
        width: 90%;
        height: 60px;
    }

    .sub>.submit{
        width: 70%;
        height: 50px;
    }
    
    .container-fluid>.map{
        width: 90%;
        height: 600px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0 auto;
    }
    
    iframe{
        width: 100%;
        height: 560px;
    }
}

























/* footer css */

.footer {
    width: 100%;
    height: 400px;
    color: #ffffff;
    background-color: #16191E;
    font-weight: 200;
}

.footer-text {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.whysos {
    width: 25%;
    margin-top: 22px;
    padding: 5px;
}

.qlinks {
    width: 12%;
    margin-top: 100px;
}

.qlinksa {
    color: #ffffff;
    text-decoration: none;
}

.opening {
    width: 18%;
    margin-top: 100px;
}

.getit {
    width: 20%;
    margin-top: 100px;
    display: grid;
}

.loc {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.contect {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.email-2 {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

/* footer media */

@media (min-width:320px) and (max-width:480px) {
    .footer {
        width: 100%;
        height: auto;
        padding-bottom:20px;
        background-color: #16191E;
        color: #ffffff;
    }

    .footer-text {
        display: block;
        margin-left: 20px;
        text-align: center;
    }

    .whysos {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .qlinks {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .qlinksa {
        color: #ffffff;
        text-decoration: none;
    }

    .opening {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .getit {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .loc {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .contect {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .email-2 {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .footer {
        width: 100%;
        height: auto;
        padding-bottom:20px;
    }

    .footer-text {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .whysos {
        width: 100%;
        margin-top: 30px;
        padding: 5px;
        margin-left: 30px;
    }

    .qlinks {
        width: 100%;
        margin-top: 90px;
    }

    .qlinksa {
        color: #ffffff;
        text-decoration: none;
    }

    .opening {
        width: 80%;
        margin-top: 30px;
        margin-left: 30px;
    }

    .getit {
        width: 100%;
        margin-top: 80px;
        margin-right: 100px;
    }

    .loc {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .contect {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .email-2 {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .footer {
        width: 100%;
        height: 450px;
    }
}

/* copyright css */

.copyr {
    width: 100%;
    height: 80px;
    background-color: #CC9933;
    color: #000000;
    font-weight: 100;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    font-family: 'Montserrat';
}

.copy-text {
    margin-right: 240px;
}

.socialmicon {
    margin-left: 240px;
}

/* copyright media */

@media (min-width:320px) and (max-width:480px) {
    .copyr {
        width: 100%;
        height: 80px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 8px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .copyr {
        width: 100%;
        height: 80px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 15px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .copyr {
        width: 100%;
        height: 90px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 15px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}