* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 500 !important;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1900px;
    width: 100%;
    padding: 0 ;
}

body {
    position: relative;
}

/* home section css */
.navbar.navbar-expand-lg.navbar-light {
    position: absolute;
    width: 100%;
    max-width: 1900px;
    font-family: 'Montserrat';
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar>.container-fluid {
    display: block;
    margin: 0 auto;
    padding: 0px;
    width: 90%;
}
@media only screen and (max-width:375px) {
   
}


.navbar-brand h6 {
    display: flex;
    flex-direction: column;
    color: #fff !important;
}

.navbar-brand img {
    display: block;
    margin: 0 auto;
}

.navbar.navbar-expand-lg.navbar-light .navbar-collapse {
    justify-content: end;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff !important;
    text-transform: capitalize;
    font-size: 15px;
}

.view {
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-transform: uppercase;
    background-color: #CC9933;
    color: #ffffff;
    border: none;
    margin-left: 30px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
}

form{
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.container-main {
    width:100%;
    height: 620px;
    background-image: url(../img/main.png);
    background-size: cover;
    background-repeat:no-repeat ;
    background-repeat: no-repeat;
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container-main-text {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.container-main-text h1 {
    text-transform: uppercase;
    font-size: 45px;
}

.container-main-text SPAN {
    color: #CC9933;
}

.container-main-text P {
    width: 45%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;
}

.see-our-menu {
    width: 140px;
    height: 35px;
    text-transform: uppercase;
    background-color: #CC9933;
    font-weight: 700;
    border: none;
    margin-top: 5px;
}


/* home section media */

@media (min-width:320px) and (max-width:480px) {
    .navbar.navbar-expand-lg.navbar-light {
        position: static;
        background-color: #fff;
    }

    .navbar-brand h6 {
        display: none;
    }

    .nav-item {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .nav-item .active {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #000 !important;
    }

    .view {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    form {
        display: grid !important;
        grid-template-columns: auto;
        margin: 0 auto;
    }

    .container-main-text{
        width: 100%;
        margin-top: 0px;
        margin-left: 0px; 
    }

    .container-main-text h1 {
        text-transform: uppercase;
        font-size: 30px;
        margin-left:0px ;
    }

    .container-main-text P {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 400;
        margin-left:0px ;
        margin: 0 auto;
        width: 100%;
    }

    .container-fluid {
        width: 100%;
        column-gap: 0;
    }

    .container-main {
        width: 100%;
        height: 350px;
        background-size: cover;
        text-align: center;
    }

    .see-our-menu {
        width: 140px;
        height: 35px;
        text-transform: uppercase;
        background-color: #CC9933;
        font-weight: 700;
        border: none;
        margin-top: 15px;
        margin-left: 0px;
    }
}

@media (min-width:480px) and (max-width:768px) {
    .navbar.navbar-expand-lg.navbar-light {
        position: static;
        background-color: #fff;
    }

    .navbar-brand h6 {
        display: none;
    }

    .nav-item {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .nav-item .active {
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .navbar-light .navbar-nav .nav-link.active {
        color: #000 !important;
    }

    .view {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    form {
        justify-content: center;
    }

    .container-fluid {
        width: 100%;
        column-gap: 0;
    }

    .container-main {
        width: 100%;
        height: 400px;
        background-size: auto;
    }

    .container-main-text P {
        width: 100%;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
    }

    .container-main-text h1 {
        text-transform: uppercase;
        font-size: 35px;
        text-align: center;
    }

    .see-our-menu {
        width: 120px;
        height: 30px;
        text-transform: uppercase;
        background-color: #CC9933;
        font-weight: 700;
        border: none;
        margin-top: 5px;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .navbar.navbar-expand-lg {
        position: static;
        background: none;
    }

    .navbar>.container-fluid {
        column-gap: 250px;
    }

    .navbar-brand {
        text-align: center;
    }

    .navbar-brand h6{
        display: none;
    }

    .nav-brand-text {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px;
        font-family: 'Montserrat';
    }

    .dropdown-item {
        margin: 0 auto;
        color:#000000!important;
    }

    .dropdown-item.active {
        margin:0 auto;
        text-align: center;
        color: #000000 !important;
    }

    .navbar-toggler {
        margin-right: 5px;
    }

    .container-fluid {
        width: 100%;
    }

    .view {
        width: 160px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        text-transform: uppercase;
        background-color: #CC9933;
        color: #ffffff;
        border: none;
        margin: 0 auto;
        font-weight: 600;
        font-size: 15px;
        font-style: bold;
    }

    .container-main {
        width: 100%;
        height: 500px;
        background-image: url(../img/main.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
    }

    .container-main-text h1 {
        text-transform: uppercase;
        font-size: 45px;
    }

    .container-main-text SPAN {
        color: #CC9933;
    }

    .container-main-text P {
        width: 80%;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
    }

    .see-our-menu {
        width: 140px;
        height: 35px;
        text-transform: uppercase;
        background-color: #CC9933;
        font-weight: 700;
        border: none;
    }
}


/* about section css */

.container-fluid-about {
    width: 90%;
    height: 880px !important;
    margin: 0 auto;
    transform: translateY(-13%);
    background-color: #ffffff;
    box-shadow: 1px 1px 10px;
}

.container-f-about {
    width: 100%;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.restourentimg {
    width: 95%;
    height: 500px;
    margin: 0 auto;
    display: block;
    background-image: url(../img/restaurant.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.restourentimgtext {
    font-size: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.readmore {
    width: 180px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    color: #CC9933;
    border: none;
    background: none;
    font-size: 24px;
    text-transform: uppercase;
}


/* about section media */

@media (min-width:320px) and (max-width:480px) {
    .container-fluid-about {
        width: 100%;
        height:auto !important;
        transform: translateY(0%);
        padding: 10px;
        padding-bottom: 30px;
        border: 1px solid black;
    }

    .container-f-about {
        width: 100%;
        height: 90px;
    }

    .restourentimg {
        background: none;
        width: 0px;
        height: 0px;
    }

    .restourentimgtext {
        margin: 0;
        padding: 0;
        margin-top: 0px;
        width: 100%;
        padding-bottom: 20px;
    }

    .readmore {
        width: 180px;
        height: 30px;
        display: block;
        margin: 0 auto;
        margin-top: 0px;
        color: #CC9933;
        border: none;
        background: none;
        font-size: 24px;
        text-transform: uppercase;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .container-fluid-about {
        width: 100%;
        height: auto !important;
        transform: translateY(0%);
        padding: 15px;
        padding-bottom: 30px;
        margin-top: 20px;
        border: 1px solid black;
        box-shadow: 4px 1px 0px;
    }

    .container-f-about {
        width: 100%;
        height: 90px;
    }

    .restourentimg {
        background: none;
        width: 0px;
        height: 0px;
    }

    .restourentimgtext {
        margin: 0;
        padding: 0;
        margin-top: 0px;
        justify-content: center;
    }

    .readmore{
        margin-top: 20px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .container-fluid-about {
        width: 100%;
        height: auto !important;
        transform: translateY(-0%);
        margin-top: 20px;
        padding-bottom: 40px;
    }

    .container-f-about {
        width: 100%;
        height: 90px;
    }
}


/* delivery css */

.delivery {
    width: 100%;
    height: 100%;
    background: #F7E9E4;
    margin-top: -50px;
    background-image: url(../img/Group\ \(1\).png);
    background-size: cover;
    padding-bottom:40px ;
    padding-inline: 15px;
}

.deliverytext p {
    width: 80%;
    height: 120px;
    margin: 0 auto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.delivery-paragraph {
    width: 90%;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
}

.order-now {
    width: 200px;
    height: 60px;
    text-transform: capitalize;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    color: #F7E9E4;
    background-color: #000000;
    border: none;
}

/* delivery media */

@media (min-width:320px) and (max-width:480px) {
    .delivery {
        width: 100%;
        height: auto;
        margin-top: 20px;
        background-image: url(../img/Group\ \(1\).png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px;
        padding-bottom:30px;
    }

    .deliverytext p{
        height: 100px;
    }

    .delivery-paragraph {
        width: 100%;
    }

    .order-now {
        width: 200px;
        height: 60px;
        text-transform: capitalize;
        margin: 0 auto;
        margin-top: 20px;
        display: block;
        color: #F7E9E4;
        background-color: #000000;
        border: none;   
    }
}

@media (min-width:480px) and (max-width:769px) {
    .delivery {
        width: 100%;
        height: auto;
        margin-top: 20px;
        background-image: url(../img/Group\ \(1\).png);
        padding-bottom: 30px;
    }

    .delivery-paragraph {
        width: 100%;
    }

    .deliverytext p{
        height: 100px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .delivery {
        width: 100%;
        height:auto;
        background: #F7E9E4;
        margin-top: 20px;
        padding-bottom: 40px;
    }

    .deliverytext p{
        height: 140px;
    }
}


/* best about website css */

.bestabout h1 {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.card-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
}

/* card-1 */

.card1 {
    width: 350px;
    height: 430px;
    text-align: center;
}

.card1 img {
    width: 240px;
    height: 240px;
}

.card1-text {
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
}

.card1p {
    font-size: 17px;
    margin-top: 20px;
}


/* card-2 */

.card2 {
    width: 350px;
    height: 430px;
    text-align: center;
}

.card2 img {
    width: 240px;
    height: 240px;
}

.card2-text {
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
}

.card2p {
    font-size: 17px;
    margin-top: 20px;
}


/* card-3 */
.card3 {
    width: 350px;
    height: 430px;
    text-align: center;
}

.card3 img {
    width: 240px;
    height: 240px;
}

.card3-text {
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
}

.card3p {
    font-size: 17px;
    margin-top: 20px;
}

/* about section media */

@media (min-width:320px) and (max-width:480px) {
    .bestabout h1 {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }

    .card-flex {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .bestabout h1 {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }

    .card-flex {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
    }

    .card1 img {
        margin-top: 0px;
    }

    .bestabout  {
        width: 100%;
    }
}

/* counter css */

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {
    font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #666;
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    font-size: 13px;
    direction: ltr;
}

.sectionClass {
    margin-top:30px;
}

.fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    min-height: 1px;
    height: 500px;
    position: relative;
}

.counterbg {
    width: 100%;
    position: static;
}

.counterbg img {
    width: 100%;
    height: 450px;

}

@media (min-width:320px) and (max-width:480px) {
    .counterbg {
        width: 100%;
        height: auto;
        position: static;
    }

    .counterbg img {
        width: 100%;
        height: 460px;
        position: absolute;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .counterbg {
        width: 100%;
        height: auto;
        margin-top: 100px;
        position: static;
    }

    .counterbg img {
        width: 100%;
        height: 450px;
        position: absolute;
    }
}

@media (min-width:769px) and (max-width:1024px){

    .fullWidth.eight.columns{
        margin-top: 100px;
    }
}


.sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
}


.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}


#projectFacts .fullWidth {
    padding: 0;
    background-image: url(../img/counterbg.png);
    height: 450px;
    margin-top: 30px;
}

.projectFactsWrap .item {
    width: 33.33%;
    height: 100%;
    padding: 20px 0px;
    text-align: center;

}

.fullWidth.eight.columns h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

.projectFactsWrap .item p.number {
    font-size: 55px;
    padding: 0;
    font-weight: bold;
}

.projectFactsWrap .item p {
    color: #ffffff;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans';
}


.projectFactsWrap .item span {
    width: 60px;
    background: rgba(250, 249, 249, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
}


.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: rgba(250, 249, 249, 0.8);
}


.projectFactsWrap .item:hover i,
.projectFactsWrap .item:hover p {
    color: #ffffff;
}

.projectFactsWrap .item:hover span {
    background: #ffffff;
}

/* counter media  */

@media (min-width:320px) and (max-width:480px) {
    .projectFactsWrap {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .fullWidth.eight.columns h2 {
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        margin-top: 60px;
    }

    .projectFactsWrap .item p {
        color: #ffffff;
        font-size: 20px;
        margin: 0;
        padding: 10px;
        font-family: 'Open Sans';
        font-weight: 600;
    }

    .projectFactsWrap .item p.number {
        font-size: 35px;
        padding: 0;
        font-weight: bold;
    }

    .projectFactsWrap .item {
        width: 100%;
        height: 100%;
        padding: 20px 0px;
        text-align: center;
    }

    #itemwow {
        margin-left: 45%;
    }
}

/* AUTHOR LINK */


footer {
    z-index: 100;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    opacity: 0;
    font-family: 'Open Sans';
    width: 100%;
    word-wrap: break-word;
    line-height: 25px;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    margin: 0;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease;
}

footer .authorWindow a {
    color: white;
    text-decoration: none;
}

footer p strong {
    color: rgba(255, 255, 255, 0.9);
}

.about-me-img {
    width: 120px;
    height: 120px;
    left: 10px;
    /* bottom: 30px; */
    position: relative;
    border-radius: 100px;
}


/* .about-me-img img { */
/* } */


.authorWindow {
    width: 600px;
    background: #75439a;
    padding: 22px 20px 22px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.authorWindowWrapper {
    display: none;
    left: 110px;
    top: 0;
    padding-left: 25px;
    position: absolute;
}

.trans {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
    .authorWindow {
        width: 210px;
    }

    .authorWindowWrapper {
        bottom: -170px;
        margin-bottom: 20px;
    }

    footer p {
        font-size: 14px;
    }
}


/* slider section css */
.carousel.slide {
    width: 100%;
    height: 430px;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 30px;
}

.carouselimg img {
    padding: 10px;
}

.carousel-text {
    padding: 10px;
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

.carouselimg2 img {
    padding: 10px;
}

.carousel-text2 {
    padding: 10px;
}

/* slider media */

@media (min-width:320px) and (max-width:480px) {
    .carousel.slide {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .carousel-text {
        padding: 10px;
        width: 100%;
        font-size: 18px;
    }
}

/* e-mail css */


.emailadd {
    width: 100%;
    height: 260px;
    background-image: url(../img/email-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    /* position: absolute; */
}

.emailadd p {
    font-size: 20px;
    padding-top: 60px;
    text-transform: capitalize;
    color: #ffffff;
}

.email {
    width: 450px;
    height: 60px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    text-align: center;
    margin: 0px;
}

.subscrib {
    width: 150px;
    height: 60px;
    font-size: 18px;
    background-color: #CC9933;
    color: #ffffff;
    border: none;
    margin: 0 ;
}

.email-btn {
    padding: 0px;
}

/* email media */

@media (min-width:320px) and (max-width:480px) {
    .emailadd {
        width: 100%;
        height: 260px;
        margin-top: 0px;
        background-image: url(../img/email-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .emailadd p {
        font-size: 16px;
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
        padding-top: 40px;
        margin-bottom: 0px;
    }

    .email {
        width: 95%;
        height: 40px;
        text-transform: capitalize;
        font-size: 18px;
        margin: 0 auto;
        text-align: center;
        border: none;
        display: flex;
        margin-bottom: 5px;
    }

    .subscrib {
        width: 140px;
        height: 40px;
        font-size: 18px;
        background-color: #CC9933;
        color: #ffffff;
        border: none;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .emailadd {
        width: 100%;
        height: 250px;
        margin-top: 50px;
        background-image: url(../img/email-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .emailadd p {
        font-size: 16px;
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
    }

    .email {
        width: 320px;
        height: 40px;
        text-transform: capitalize;
        font-size: 18px;
        margin: 0 auto;
        text-align: center;
        border: none;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .subscrib {
        width: 140px;
        height: 40px;
        font-size: 18px;
        background-color: #CC9933;
        color: #ffffff;
        border: none;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .email {
        width: 450px;
        height: 50px;
        text-transform: capitalize;
        font-size: 18px;
        display: block;
        margin: auto;
        border: none;
    }

    .subscrib {
        width: 140px;
        height: 40px;
        font-size: 18px;
        background-color: #CC9933;
        color: #ffffff;
        border: none;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
}

/* footer css */

.footer {
    width: 100%;
    height: 360px;
    color: #ffffff;
    background-color: #16191E;
    font-weight: 200;
}

.footer-text {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.whysos {
    width: 25%;
    margin-top: 22px;
    padding: 5px;
}

.qlinks {
    width: 12%;
    margin-top: 100px;
}

.qlinksa {
    color: #ffffff;
    text-decoration: none;
}

.opening {
    width: 18%;
    margin-top: 100px;
}

.getit {
    width: 20%;
    margin-top: 100px;
    display: grid;
}

.loc {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.contect {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

.email-2 {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

/* footer media */

@media (min-width:320px) and (max-width:480px) {
    .footer {
        width: 100%;
        height: auto;
        padding-bottom:20px;
        background-color: #16191E;
        color: #ffffff;
    }

    .footer-text {
        display: block;
        margin-left: 20px;
        text-align: center;
    }

    .whysos {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .qlinks {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .qlinksa {
        color: #ffffff;
        text-decoration: none;
    }

    .opening {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .getit {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .loc {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .contect {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .email-2 {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .footer {
        width: 100%;
        height: auto;
        padding-bottom:20px;
    }

    .footer-text {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .whysos {
        width: 100%;
        margin-top: 30px;
        padding: 5px;
        margin-left: 30px;
    }

    .qlinks {
        width: 100%;
        margin-top: 90px;
    }

    .qlinksa {
        color: #ffffff;
        text-decoration: none;
    }

    .opening {
        width: 80%;
        margin-top: 30px;
        margin-left: 30px;
    }

    .getit {
        width: 100%;
        margin-top: 80px;
        margin-right: 100px;
    }

    .loc {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .contect {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    .email-2 {
        display: flex;
        column-gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .footer {
        width: 100%;
        height: 450px;
    }
}

/* copyright css */

.copyr {
    width: 100%;
    height: 80px;
    background-color: #CC9933;
    color: #000000;
    font-weight: 100;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    font-family: 'Montserrat';
}

.copy-text {
    margin-right: 240px;
}

.socialmicon {
    margin-left: 240px;
}

/* copyright media */

@media (min-width:320px) and (max-width:480px) {
    .copyr {
        width: 100%;
        height: 80px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 8px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}

@media (min-width:480px) and (max-width:769px) {
    .copyr {
        width: 100%;
        height: 80px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 15px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .copyr {
        width: 100%;
        height: 90px;
        background-color: #CC9933;
        color: #000000;
        display: block;
        text-align: center;
    }

    .copy-text {
        margin-right: 0px;
        padding-top: 15px;
    }

    .socialmicon {
        margin-left: 0px;
    }
}